
<footer class="bg-dark text-center py-3"><span>© 
    <script>
      document.write(new Date().getFullYear())
      
    </script></span></footer>
<script src="/js/vendor/jquery-3.3.1.min.js"></script>
<script src="/js/vendor/bootstrap.bundle.min.js"></script>
<script src="/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="js/main.js"></script>