//- Declaration
mixin list
  ul
    li foo
    li bar
    li baz

mixin pet(name)
  li.pet= name

//- Mixin blocks
mixin article(title)
  .article
    .article-wrapper
      h1= title
      if block
        block
      else
        p No content provided
