doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet" href="css/styles.css")
    block head
      title 'Pug Template'

  body
    include includes/nav
    
    .container
      block content

    include includes/footer
