extends _layout.pug
include includes/mixins
block head
  title Site Name

block content    
  h1 This is a pug template

  +list

  ul
    +pet('cat')
    +pet('dog')
    +pet('pig')
  
  .row
    .col-md-4
      +article('Block one')
        p This is my
        p Amazing article

    .col-md-4
      +article('Block two')
        p Yo
  
    .col-md-4
      +article('Block three')
        p Yo
