@import "vendors/bootstrap.min";
@import "vendors/fontawesome";

$text-color: white;

body {
  background-color: grey;
  color: $text-color;
}

.container {
  padding-top: 100px;
  height: 100vh;
}

.active {
  font-weight: bold;
}